---
persistence:
  enabled: true
  storageClass: "nfs-client"
  accessModes:
    - ReadWriteMany
  size: 16Gi

  ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: 'true'
  hosts:
    - host: ha-stp.k8s-frambozen.nl
      paths:
        path: /
        pathType: ImplementationSpecific
  tls:
    - secretName: home-assistant-tls
      hosts:
        - ha-stp.k8s-frambozen.nl