replicaCount: 1

global:
  image:
    # -- if set it will overwrite all registry entries
    registry:
    # -- if set it will overwrite all pullPolicy
    pullPolicy:

image:
  registry: ghcr.io
  repository: matter-js/python-matter-server
  pullPolicy: Always
  tag: "stable"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
  
service:
  type: ClusterIP
  port:
    http: 80
  
resources:
  limits:
    cpu: 1000m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 120


readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 120

persistence:
  enabled: false
  annotations: {}
  storageClass:



