service:
  type: ClusterIP

persistence:
  enabled: true
  storageClass: "nfs-client"
  accessMode: ReadWriteMany
  size: 10Gi

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: 'true'
  hosts:
    - host: matter.dev.k8s-frambozen.nl
      paths:
        path: /
        pathType: ImplementationSpecific
  tls:
    - secretName: matter-hub-tls
      hosts:
        - matter.dev.k8s-frambozen.nl